[submodule "media"]
	path = media
	url = https://github.com/Shippy-Music/media.git
	branch = shippy/windows-build

[submodule "musikr/src/main/cpp/taglib"]
	path = musikr/src/main/cpp/taglib
	url = https://github.com/taglib/taglib.git
	tag = ee1931b
